.button{
    padding : 5px 10px;
    
    background-color: #F26419;
    color: black;
    font-weight: 600;
    border-radius: 10px;
    display: inline-flex;
    width: fit-content;
    align-items: center;

    text-transform: uppercase;
}

    .button:hover{
        color: white;  
    }
