footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: black;

    padding: 50px;

    .contact{
        font-size: typo(56px);
       
    }

    p{
        margin: 0;
        padding: 0;
        color: #8C8C8C;
    }

    .nav{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .icon{
        color: #8C8C8C;
        font-size: 40px;
        margin-bottom: 10px;
    }
}