.header {
    background-color: rgba($color: #000000, $alpha: 0.7);
    
        padding: 25px 0;
        text-align: center;
 
        position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 2;

        a{
            color: white;
        }
    }