.hero{

    position: relative;    
    height: 80vh;
    .wrapper{

        height: 100%;
       


            .hero__content{

                height: 100%;
                display: flex;
                align-items: flex-end;
                
                position: relative;

                z-index: 1;
            }

            .hero__media{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;    
                z-index: 0;
                
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

            }

    }
}

