.reactif{
    background-color: #F26419;

        &:nth-child(even){
            .card__content{
                order: unset;
            }
        } 
   
    .buttonb{
    padding : 5px 10px;
    
    .wrapper h2{
        padding: 0;
        color: black;
    }

    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 10px;
    display: inline-flex;
    width: fit-content;
    align-items: center;

    text-transform: uppercase;
    }
}