{% include "_partials/_header.html" %}


<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/image_hero.jpg" alt="">
        </div> 
        <div class="hero__content">

            <h1>Mon cahier d'exercice</h1>
        </div> 
        



    </div>
</section>

        <section class="section">
            <div class="wrapper">
                <h2>Mes premiers <span class="weight">laboratoires</span></h2>

                <div class="cards">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/Labo1.png" alt="labo sem 01">
                        </div>
                        <div class="card__content">
                            <h3>01 - laboratoire intro</h3>
                            <p class="info"><span class="weight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda</span> voluptatem officiis sint exercitationem et nihil.</p>
                            <p class="tag">HTML + CSS</p>
                            <a href="https://mgiard.dectim.ca/cours/cw3/sem01/" class="button">Voir le laboratoire <span class="material-symbols-outlined"><svg class="icon icon--md">
                                <use href="#icon-chevron-right"></use>
                                </svg></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/Labo2.png" alt="labo sem 02">
                        </div>
                        <div class="card__content">
                            <h3>02 - laboratoire TIM Cade</h3>
                            <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="weight">Assumenda voluptatem officiis sint exercitationem et nihil.</span></p>
                            <p class="tag">HTML + CSS</p>
                            <a href="https://mgiard.dectim.ca/cours/cw3/sem02/" class="button">Voir le laboratoire <span class="material-symbols-outlined"><svg class="icon icon--md">
                                <use href="#icon-chevron-right"></use>
                                </svg></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/Labo3.png" alt="labo sem 03">
                        </div>
                        <div class="card__content">
                            <h3>03 - Laboratoire Louisa Joy</h3>
                            <p class="info">Lorem ipsum dolor sit amet, <span class="weight">consectetur adipisicing elit.</span> Assumenda voluptatem officiis sint exercitationem et nihil.</p>
                            <p class="tag">HTML + CSS</p>
                            <a href="https://mgiard.dectim.ca/cours/cw3/sem03/" class="button">Voir le laboratoire <span class="material-symbols-outlined"><svg class="icon icon--md">
                                <use href="#icon-chevron-right"></use>
                                </svg></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/Labo4.png" alt="labo sem 04">
                        </div>
                        <div class="card__content">
                            <h3>04 -  Laboratoire TIMtools</h3>
                            <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatem <span class="weight">officiis sint</span> exercitationem et nihil.</p>
                            <p class="tag">HTML + CSS</p>
                            <a href="https://mgiard.dectim.ca/cours/cw3/sem04/" class="button">Voir le laboratoire <span class="material-symbols-outlined"><svg class="icon icon--md">
                                <use href="#icon-chevron-right"></use>
                                </svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section class="reactif">
            <div class="wrapper">

                <h2>Mes <span class="weight">laboratoires réactifs</span></h2>

                        
                <!-- Slider main container -->
                <div class="swiper js-reee">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                
                                        <div class="card swiper-slide">
                                        <div class="card__media">
                                            <img src="assets/images/Labo2.png" alt="labo sem 05">
                                        </div>
                                        <div class="card__content">
                                            <h3>02 - laboratoire TIM Cade</h3>
                                            <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="weight">Assumenda voluptatem officiis sint exercitationem et nihil.</span></p>
                                            <p class="tag">HTML + CSS</p>
                                            <a href="https://mgiard.dectim.ca/cours/cw3/sem02/" class="buttonb">Voir le laboratoire <span class="material-symbols-outlined"><svg class="icon icon--md">
                                                <use href="#icon-chevron-right"></use>
                                                </svg></a>
                                        </div>
                                    </div>
                                    <div class="card swiper-slide">
                                        <div class="card__media">
                                            <img src="assets/images/Labo6.png" alt="labo sem 06">
                                        </div>
                                        <div class="card__content">
                                            <h3>08 - Laboratoire Crypto</h3>
                                            <p class="info">Lorem ipsum dolor sit amet, <span class="weight">consectetur adipisicing elit.</span> Assumenda voluptatem officiis sint exercitationem et nihil.</p>
                                            <p class="tag">HTML + CSS</p>
                                            <a href="https://mgiard.dectim.ca/cours/cw3/sem09/" class="buttonb">Voir le laboratoire <span class="material-symbols-outlined"><svg class="icon icon--md">
                                                <use href="#icon-chevron-right"></use>
                                                </svg></a>
                                        </div>
                                    </div>
                                    <div class="card swiper-slide">
                                        <div class="card__media">
                                            <img src="assets/images/Labo7.png" alt="labo sem 07">
                                        </div>
                                        <div class="card__content">
                                            <h3>09 -  Labo swiper</h3>
                                            <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatem <span class="weight">officiis sint</span> exercitationem et nihil.</p>
                                            <p class="tag">HTML + CSS</p>
                                            <a href="https://mgiard.dectim.ca/cours/cw3/sem08/dist/" class="buttonb">Voir le laboratoire <span class="material-symbols-outlined"><svg class="icon icon--md">
                                                <use href="#icon-chevron-right"></use>
                                                </svg></a>
                                        </div>
                                    </div>

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>


                </div>

        </div>
        </section>


{% include "_partials/_footer.html" %}
